@import "tailwindcss";

@theme {
  --color-primary: #A64CEA;
  --color-secondary: #B3B3B3;
  --color-background: #FFFFFF;
  --font-sans: "Poppins", "SF Pro Display", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-black font-sans;
  }

  /* Scroll funciona pero la barra es invisible */
  * {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE / Edge */
  }

  *::-webkit-scrollbar {
    display: none;              /* Chrome / Safari */
  }
}